.customJumbotron {
    color: #3f3f3f;

    .customJumbotron-darkmode-toggle{
        position: fixed;
        top: 15px;
        right: 20px;
    }

    .dark-jumbotron{
        color: azure;
    }

    .customJumbotron-jumbotron {
        height: 100vh;
        border-radius: 0;
        z-index: 10;

        .customJumbotron-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            .customJumbotron-name-highlight{
                font-weight: 500;
            }
        }
    }
}

.star-canvas{    
    background: linear-gradient(170deg, rgba(160, 176, 245, 0.417) 0%, rgba(245, 246, 241, 0.358) 60%);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.star-canvas-dark{    
    background: linear-gradient(170deg, rgb(22, 30, 64) 0%, rgb(98, 131, 169) 60%);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
