.project-page-conatiner{
    background: rgb(174,238,226);
    background: linear-gradient(140deg, rgba(174,238,226,1) 0%, rgba(219,211,181,1) 50%, rgba(178,178,178,1) 100%);
    min-height: 100vh;

    h1{
        color: rgb(92, 92, 92);
    }

    .main-header{
        padding: 30px 0 15px 0;
    }

    .item-container{
        img{
            border-radius: 15px;
            height: 200px;
            width: auto;
            object-fit: cover;
        }
    }
}