.project-page-conatiner{
    min-height: 100vh;
    padding: 15px;
    h1{
        color: rgb(92, 92, 92);
    }

    .main-header{
        padding: 40px 0 40px 0;
    }

    .item-container{
        img{
            border-radius: var(--bs-card-border-radius);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            height: 200px;
            object-fit: cover;
        }
    }
}

.bg-purple {
    background: linear-gradient(180deg, rgb(27, 111, 229) -10%, rgb(128, 3, 156) 80%);
    color: rgb(248, 252, 255);
}

.bg-blue {
    background: linear-gradient(180deg, #64E9FF 0%, #103CE7 70%);
    color: rgb(248, 252, 255);
}

.bg-green {
    background: linear-gradient(180deg, #0d9f67 0%, #02706b 100%);
    color: rgb(255, 255, 255);
}


.bg-red {
    background: linear-gradient(180deg, rgb(220, 3, 216) -10%, rgb(156, 3, 3) 70%, rgb(115, 146, 108) 100%);
    color: rgb(248, 252, 255);
}

.bg-yellow {
    background: linear-gradient(180deg, rgb(230, 112, 1) -10%, rgb(15, 1, 106) 80%);
    color: rgb(227, 227, 227);
}