.navbar-custom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff52;

    .navbar-custom-link{
        a{
            color: #323232;
            font-weight: 500;
        }
    }
}